@import 'colors';
@import 'forms';
@import 'table-overrides';

html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    padding: 0;
    margin: 0 0 10vh;
    background: whitesmoke;
    color: $text;

    #app {
      height: 100%;
    }
}

.container {
  padding: 20px;
  position: relative;
}

h2 {
  margin-bottom: 10px;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: darken($link, 10%);
  }
}

p a {
  text-decoration: underline;
}

header {
  width: 100%;
  background-color: $background;
  color: white;

  a {
    color: white;

    &:hover {
      color: lighten($background, 20%);
    }
  }

  .logos {
    display: inline-block;

    * {
      vertical-align: middle;
    }

    .user-name {
      margin-left: 10px;
    }
  }

  .menu {
    display: inline-block;
    float: right;
    height: 30px;

    * {
      vertical-align: middle;
    }
  }
}

.big-text {
  font-size: 2rem;
}

