@import 'colors';
@import 'table-overrides';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    padding: 0;
    margin: 0 0 10vh;
    background: whitesmoke;
    color: $text;

    #main {
      max-width: 960px;
      margin: auto;
      padding: 0 20px;
    }
}

.container {
  padding: 20px;
  position: relative;
}

header {
  width: 100%;
  background-color: $background;
  color: white;


  .logos {
    display: inline-block;

    * {
      vertical-align: middle;
    }
  }

  .menu {
    display: inline-block;
    float: right;
    height: 30px;

    * {
      vertical-align: middle;
    }
  }
}

.big-text {
  font-size: 2rem;
}

h2 {
  margin-bottom: 10px;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: darken($link, 10%);
  }
}

p a {
  text-decoration: underline;
}
