span.icon {
  vertical-align: middle;
  height: 18px;
  width: 18px;
  display: inline-block;
  margin-right: 5px;
  background: no-repeat center center;

  &.link {
    background-image: url('/assets/images/icons/link.svg');
  }

  &.email {
    background-image: url('/assets/images/icons/apply.svg');
  }

  &.bespoke {
    position: absolute;
    right: -15px;
    top: -15px;
    height: 30px;
    width: 30px;
    margin: 0;
    background-size: 24px;

    &.gold {
      background-image: url('/assets/images/icons/gold_bespoke.png');
    }

    &.silver{
      background-image: url('/assets/images/icons/silver_bespoke.png');
    }
  }
}
