.react-tabs, .tabs {
  margin-top: auto;

  >ul {
    margin: 0;
    padding: 0;

    -webkit-transform: translateY(5px);
    transform: translateY(5px);

    >li {
      transition-duration: .25s;
      display: inline-block;
      list-style: none;
      text-align: center;
      padding: 15px 15px 20px 15px;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      &:before{
        z-index: -1;
        position: absolute;
        content: "";
        width: 100%;
        height: 120%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .3);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        transition-duration: .25s;
        border-radius: 5px 5px 0 0;
      }

      &:hover{
        &:before{
          -webkit-transform: translateY(70%);
          transform: translateY(70%);
        }
      }

    }
  }

  &.underline >ul >li {

    &:before {
        background-color: lighten($background, 30%);
    }

    &:hover{
      &:before{
        -webkit-transform: translateY(75%);
        transform: translateY(75%);
      }
    }

    margin: 0 5px;
    &.react-tabs__tab--selected{
      &:before{
        -webkit-transform: translateY(75%);
        transform: translateY(75%);
        background-color: $background;
      }
    }
  }

  &.filled >ul >li {
    color: white;

    &.react-tabs__tab--selected{
      color: rgb(80, 85, 90);

      &:before{
        transition-duration: .5s;
        background-color: white;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }

  &.filled .react-tabs__tab-panel,
  &.filled .panel {
    background: #fff;
  }

  .panel, .react-tabs__tab-panel {
    padding: 10px;
    display: none;
    min-height: 120px;

    &.react-tabs__tab-panel--selected {
      display: flex;

      &.centered {
        align-items: center;
        justify-content: center;
      }
    }
  }
}
